$primary-blue: #005ce6;
$violet: #2a3870;
$lite-violet: #cdd5f5;
$dark-green: #16522a;
$white: white;
$black: black;
$black-1: #042230;
$lite-grey: #fefefe;
$bermuda-grey: #7286a2;
$grey-100: #d6d6d6;
$grey-text: rgba(0 0 0 / 50%);
$grey-300: #cfcfcf;
$grey-500: #959595;
$grey-600: #656565;
$grey-yellow: #869c4b;
$black-100: #333333;
$grey-black: #221f17;
$dim-blue: #ebf1fa;
$dim-blue-100: #e5eefd;
$dim-blue-200: #ccdaef;
$error: #ff4949;

// Font Families
$font-header: "Metropolis-Black", sans-serif;
$font-rg: "Lato-Regular", sans-serif;
$font-bold: "Lato-Bold", sans-serif;
$font-lite: "Lato-Lite", sans-serif;
$font-footer: "Lato-Black", sans-serif;

// Font Weights
$fw-light: 200;
$fw-medium: 500;
$fw-bold: 700;